html, body { height: 100%; margin:0; }

body {
  font-family: 'Adamina', Meiryo, sans-serif;
  font-feature-settings: "palt";
  letter-spacing: 1px;
  background: darkslategrey;
}

.App {
  h1 {
    margin: 0;
    font-family: 'Playfair Display SC', serif;
    font-size: 3rem;
  }

  #title {
    color: white;
    margin: 0;

    p {
      margin: 0;
    }
  }

  text-align: center;
  height: 100%;
  position: relative;


  .bk {
    // background-image: url(./assets/tropical.jpg);
    height: 100vh;
    // position: absolute;
    // top: 0;
    
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: auto;
      height: 100%;
      background: rgba(0, 0, 0, .6);
    }
  }

  

  address {
    font-size: 10px;
    font-style: normal;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 1%;
  
    color: #b93224;
    left: 1vw;
    top: 80vh;
    font-size: 10px;
    line-height: 2.7;
    text-transform: uppercase;
    transform-origin: left top;
    transform: rotate(
    -90deg
    );
  }

  #container {
    display: flex;
  }
}
